/* Fonts */
@font-face {
  font-family: "mlb_primary";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-2.eot");
  src: url("../assets/fonts/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-2.eot?#iefix") format('embedded-opentype'),
  url("../assets/fonts/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-3.woff") format('woff'),
  url("../assets/fonts/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-1.ttf") format('truetype'),
  url("../assets/fonts/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-4.svg#web") format('svg');
}

body { 
  font-family: mlb_primary;
  padding-top: 60px;
  background: #fdfdff url("../assets/images/mlb_bg_gradient.png") fixed repeat-x; 
}

.navbar-main {
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  background-color: #F8F8F8 !important; 
}

.pad-top{ 
  padding-top: 25px;
}

.stat {
  font-family: helvetica,arial,sans-serif;
}

.container {
  background-color: white;
}

.content {
  padding: 10px;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SPINNER */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* CREATE TEAM */
div.division-container {
  position: relative;
  display: inline-block;  
}

div.division-requirements,
div.division-players {
  position: absolute;
  top: -19px;
  width: 100px;
}

div.division-requirements {
  z-index: 1;
}

div.division-players {
  z-index: 2;
}

div.division-requirement {
  display: flex;
  justify-content:center;
  align-items:center;
  height: 23px;
  width: 15px;
  float: left;
  margin-right: 5px;
  font: 15px bold;
  font-family: helvetica,arial,sans-serif !important;
  color: #002e6d;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow:0px 1px 1px 1px #333;
}

div.division-player {
  height: 23px;
  width: 15px;
  float: left;
  margin-right: 5px;
  
}

/* CARDS */
div.card-container {
  margin: 3rem;
	position: relative;
	width:248px;
	height:341px;
  cursor: pointer;
}

.selected{
   box-shadow:5px 12px 22px 1px #002e6d !important;
}

div.card-frame {
	position: absolute;
	left: 0;
	top: 0;
	width:248px;
	height:341px;	
	background: url("../assets/images/cardframe.png");
	z-index: 1000;
  
  box-shadow:0px 8px 22px 1px #333;
}

div.card-back {
	left: 0;
	top: 0;
	width:248px;
	height:341px;
  background: url("http://i.imgur.com/awmsxbC.png");	
  box-shadow:0px 8px 22px 1px #333;
}

div.card-back > div.card-back-nameplate {
  position: absolute;
  left: 62px;
  top: 7px;
  font-size: 17px;
  color: #808D48;
}

div.card-back > div.card-back-id {
  position: absolute;
  left: 25px;
  top: 8px;
  width: 30px;
  font-size: 16px;
  color: #1f3542;
  text-align: center;
}
div.card-back a {
  color: #1f3542;
}

div.card-back-body
{
  position: absolute;
  left: 25px;
  top: 35px;
  width: 205px;
  font-size: 12px;
  color: #1f3542;
}

div.card-back-body > table
{
  border-collapse:separate; 
  border-spacing:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}

caption {
  color: #1f3542;
  font-size: 1.1em;
  padding: 0;
  text-align: center;
}

div.card-back-body > table th
{ 
  border-bottom: 1px solid;
  text-align: right;
}

img.card-logo {
	top: 20px;
	left: 20px;
  position: absolute;
	width:50px;
	height:50px;	
	z-index: 1000;
}

img.card-picture {
	top: 15px;
	left: 21px;
	position: absolute;
	width:213px;
	height:320px;	
}

div.card-nameplate {
  display: flex;
  justify-content:center;
  align-items:center;
	top: 295px;
	left: 73px;
	position: absolute;
	background-color:blue;
	width:157px;
	height:34px;
}

div.card-nameplate span.playername {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0 3 0 3;
}

img.img-player {
  box-shadow: 3px 3px 1px #888888;
}

.list-row {
  margin-top:20px;
}

.list-lead {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 10px;
}

p.list-lead-note {
  margin: -12px 0 0 0;
}

.hr-count {
  font-family: helvetica,arial,sans-serif;
  font-size: 36px; 
  border-bottom: 5px solid #c00; 
  margin-top: 15px; 
  display: inline-block;
}

.rank {
  margin-left: 20px;
  text-align: center;
  min-width: 50px;
  font-size: 36px; 
  color: azure;
  background-color: #002e6d; 
  margin-top: 20px; 
  display: inline-block;
}

.profile-bio-container {
  display: flex;
  align-items: center;
}

.profile-stat-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  font-size: 32px;
  margin: 10px 10px;
  
  box-shadow: 3px 3px 1px #888888;
}

.profile-stat-label {
  color: azure;
  background-color: #002e6d;
}

.profile-stat-stat {
  color: #002e6d;
  background-color: azure;
  border: 2px solid #002e6d;
}

.profile-stat-spacer {
  width: 20px;
}

.pointy {
  cursor: pointer;
}

/* HEADINGS */
/* h1 {
  color: #002e6d;
  border-bottom: double #555;
} */

h2.division {
  color: #002e6d;
  border-bottom: double #555; 
}

h2.division > span.requirement {
  margin-top: 16px;
  font-size: .5em;
}

h2.division > span.valid{
  padding-right: 5px;
}